<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

<!--    <bean id="user" class="com.blue.pojo.User">-->
<!--        <constructor-arg index="0" value="blueJava"/>-->
<!--    </bean>-->

<!--    <bean id="user" class="com.blue.pojo.User">-->
<!--        <constructor-arg type="java.lang.String" value="blue"/>-->
<!--    </bean>-->

<!--    <bean id="user" class="com.blue.pojo.User">-->
<!--        <constructor-arg name="name" value="blue"/>-->
<!--    </bean>-->

    <bean id="userT" class="com.blue.pojo.UserT" name="user2">

    </bean>

</beans>