<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mapper.Test1Mapper">
  <resultMap id="BaseResultMap" type="com.domain.Test1">
    <!--@mbg.generated-->
    <!--@Table Test1-->
    <id column="Id" jdbcType="VARCHAR" property="id" />
    <id column="TM" jdbcType="TIMESTAMP" property="tm" />
    <result column="SJ" jdbcType="DECIMAL" property="sj" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    Id, TM, SJ
  </sql>
  <select id="selectByPrimaryKey" parameterType="string" resultMap="BaseResultMap">
    <!--@mbg.generated-->
    select 
    <include refid="Base_Column_List" />
    from Test1
    where Id = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="map">
    <!--@mbg.generated-->
    delete from Test1
    where Id = #{id,jdbcType=VARCHAR}
      and TM = #{tm,jdbcType=TIMESTAMP}
  </delete>
  <insert id="insert" parameterType="com.domain.Test1">
    <!--@mbg.generated-->
    insert into Test1 (Id, TM, SJ)
    values (#{id,jdbcType=VARCHAR}, #{tm,jdbcType=TIMESTAMP}, #{sj,jdbcType=DECIMAL})
  </insert>
  <insert id="insertSelective" parameterType="com.domain.Test1">
    <!--@mbg.generated-->
    insert into Test1
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        Id,
      </if>
      <if test="tm != null">
        TM,
      </if>
      <if test="sj != null">
        SJ,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="tm != null">
        #{tm,jdbcType=TIMESTAMP},
      </if>
      <if test="sj != null">
        #{sj,jdbcType=DECIMAL},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.domain.Test1">
    <!--@mbg.generated-->
    update Test1
    <set>
      <if test="sj != null">
        SJ = #{sj,jdbcType=DECIMAL},
      </if>
    </set>
    where Id = #{id,jdbcType=VARCHAR}
      and TM = #{tm,jdbcType=TIMESTAMP}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.domain.Test1">
    <!--@mbg.generated-->
    update Test1
    set SJ = #{sj,jdbcType=DECIMAL}
    where Id = #{id,jdbcType=VARCHAR}
      and TM = #{tm,jdbcType=TIMESTAMP}
  </update>
</mapper>